body {
  background-image: url('../images/concrete_seamless.png');
}

footer {
  background-color: blue;
  height: 90px;
  text-align: center;
}

.jumbotron {
  background-image: url('../images/sunrise.jpg');
  background-size: cover;
  height: 500px;
  margin-top: 0px;
}

nav {
  margin-bottom: 0;
  padding-bottom: 0;
}

.social {
  height: 50px;
  width: 50px;
}

#social-container {
  margin-top: 10px;
  margin-bottom:  10px;
}
