#about {
  color: white;
  padding-top: 180px;
}

.active {
  background-color: white;
}

#brand {
  color: white;
}

.caption {
  background-color: white;
  display: none;
  position: absolute;
  margin-right: 20px;
  text-align: center;
  top: 75px;
}

#contact {
  background-image: url('../images/StockSnap_JFPYO9HEZR.jpg');
  background-size: cover;
  height: 700px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

#contact-form {
  background-color: #A8BFAB;
  margin-top: 40px;
  padding-bottom: 15px;
}

footer {
  background-color: #2c3e50;
  color: white;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

#headshot {
  float: left;
  height: 200px;
  margin-right: 10px;
}

.jumbotron {
  background-image: url('../images/StockSnap_LI3Y5U376X.jpg');
  background-size: cover;
  height: 800px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default {
  background-color: #2c3e50;
  border-bottom: #2c3e50;
  height: 50px;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

#portfolio {
  background-image: url('../images/concrete_seamless.png');
  margin: 0;
  padding: 70px 100px;
  width: 100%;
}

.portfolio-div {
  margin-bottom: 40px;
}

.social {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

#social-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.thumbnail: {
  position: relative;
}

.thumbnail:hover .thumbnail-img {
  opacity: 0.5;
}