#about {
  color: white;
  padding-top: 160px;
}

#contact {
  background-image: url('../images/green_dust_scratch.png');
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

footer {
  background-color: #2c3e50;
  color: white;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

.img-circle {
  height: 200px;
  float: left;
  margin-right: 10px;
}

.jumbotron {
  background-image: url('../images/markus-spiske-109588.jpg');
  background-size: cover;
  height: 800px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default {
  background-color: #2c3e50;
  color: white;
  height: 50px;
  margin-bottom: 0;
}

.navbar-default > .navbar a {
  color: white;
}

#portfolio {
  background-image: url('../images/concrete_seamless.png');
  margin: 0;
  padding: 70px 100px;
  width: 100%;
}

.portfolio-div {
  margin-bottom: 40px;
}

.social {
  height: 50px;
  width: 50px;
}

#social-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
